@{
    ViewData["Title"] = "Home Page";
}


<div id="main" style="width: 100%;height: 600px;"></div>
<div class="row">
    <div class="col-6">
        <input type="button" id="clear" value="清空数据" />
    </div>
</div>

<script src="https://cdn.staticfile.org/echarts/5.0.0/echarts.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chart.js"></script>


